/* ==========================================================================
   Author's custom styles
   ========================================================================== */

img.img-thumbnail {
    width: 140px;
    height: 140px;
}

footer {
    padding: 10px 20px;
}











