.img-thumbnail {
    width: 140px;
    height: 140px;
}

.img-small {
    width: 25px;
    height: 25px;
}

.short-name {
    margin-left: 10px;
}

footer {
    padding: 10px 20px;
}

.jumbotron {
  background: url(http://img.uefa.com/imgml/comp/ucl/season2015-16/brand/bg.jpg) no-repeat center top;
  color: #fff;
}

.group {
  padding-top: 55px;
}

.fixture {
  margin: 10px 0;
  font-size: 1.5em;
}

.navbar-inverse {
  background-color: transparent;
}

.table {
  margin-top: 17px;
}

.match-logo {
  height: 3em;
}

.fixtures {
  margin-top: 30px;
}